.account-button{
    border-style: none;
    background-color: rgb(230, 0, 0);
    color: white;
    border-radius: .3em;
    padding: .5em;
    margin: 2em 1em 0 0;
}
.account-button:hover{
    background-color: rgb(173, 0, 0);
    transition: all .1s ease-in-out;
}
.account-button:active{
    transform: scale(0.98);
}
.account-logout{
    background-color: var(--smokeGrey);
}
.account-logout:hover{
    background-color: #808080;
}

.users-list{
    width: fit-content;
    margin-top: 1em;
}
.users-list-title{
    margin: 2em 0 1em 0;
}
.users-list-column{
    display: grid;
    grid-template-columns: repeat(3,minmax(10em,20em));
    background-color: var(--lightGrey);
    color: var(--smokeGrey);
    justify-content: center;
    justify-items: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: .3em;
}
.users-list--item{
    display: grid;
    grid-template-columns: repeat(3,minmax(10em,20em));
    border-bottom: .5px solid var(--neutralGrey);
    background-color: white;
    padding: .5em;
    justify-items: center;
    align-items: center;
}
.users-list--item:last-child{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom: none;
}
.users-list--btn{
    border: none;
    border-radius: .5em;
    padding: .4em;
    margin: .5em;   
    background-color: var(--neutralGrey);
}
.users-list--btn:hover{
    background-color: var(--smokeGrey);
    color: black;
}

.profile-alert{
    height: 1.7em;
    display: flex;
    background-color: #e00000 ;
    color: white;
    align-items: center;
    top:5vh;
    right: 0;
    border-left: 10px solid #990000;
    position: fixed;
    padding: .5em;
    z-index: 110;
    border-radius: .5em;
    animation-name: alert-in, alert-out;
    animation-duration: .15s, 1s;
    animation-delay: 0s, 3s;
}
.profile-alert:hover{
    cursor: default;
}
.profile-alert-btn{
    height: 1.4em;
    margin: 0 .3em 0 .5em;
    filter: invert(9%) sepia(97%) saturate(3684%) hue-rotate(354deg) brightness(102%) contrast(114%);
}
.profile-alert-btn:hover{
    filter: invert(13%) sepia(32%) saturate(6387%) hue-rotate(349deg) brightness(82%) contrast(120%);
}
.profile-alert-sign{
    height: 1.7em;
    margin: 0 .7em 0 .2em;
    filter: invert(9%) sepia(97%) saturate(3684%) hue-rotate(354deg) brightness(102%) contrast(114%);
}

.profile-successAlert{
    height: 1.7em;
    display: flex;
    background-color: #6bbf59 ;
    color: white;
    align-items: center;
    top:5vh;
    right: 0;
    border-left: 10px solid #08a045;
    position: fixed;
    padding: .5em;
    z-index: 110;
    border-radius: .5em;
    animation-name: alert-in, alert-out;
    animation-duration: .15s, 1s;
    animation-delay: 0s, 3s;
}
.profile-successAlert:hover{
    cursor: default;
}
.profile-successAlert-btn{
    height: 1.4em;
    margin: 0 .3em 0 .5em;
    filter: invert(31%) sepia(98%) saturate(1370%) hue-rotate(125deg) brightness(98%) contrast(94%);
}
.profile-successAlert-btn:hover{
    filter: invert(18%) sepia(39%) saturate(7322%) hue-rotate(148deg) brightness(83%) contrast(95%);
}

@keyframes alert-in{
    0% {transform: translateX(12em);}
    100% {transform: translateX(0);}
}
@keyframes alert-out{
    0% {transform: translateX(0);}
    100% {transform: translateX(25em);}
}

.user-info{
    display: grid;
    grid-template-columns: repeat(2,minmax(15em,20em));
    margin-bottom: 1em;
}
.user-email{
    background-color: var(--lightGrey);
    max-width: 15em;
    height: 1.3em;
    border: 1px solid var(--neutralGrey);
    border-radius: .3em;
    align-items: center;
    padding-left: .2em;
}

.user-pass{
    display: grid;
    grid-template-areas: "title btn"
                         "pass  btn";
    align-items: flex-end;
}
.user-pass--show{
    display: flex;
    background-color: var(--lightGrey);
    max-width: 15em;
    height: 1.3em;
    border: 1px solid var(--neutralGrey);
    border-radius: .3em;
    align-items: center;
    padding-left: .2em;
}
.user-pass--form{
    display: flex;
    flex-direction: column;
}
.pass-form--input{
    border: 1px solid var(--neutralGrey);
    border-radius: .3em;
}
.pass-form--error{
    color: #cb0000;
    font-style: italic;
}
.user-pass--btn{
    display: flex;
    grid-row: span 2;
}
.pass-btn--edit{
    width: 1.5em;
    height: 1.5em;
    padding: .3em;
    border: none;
    border-radius: .5em;
    background-color: #d69336;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1em;
}
.pass-btn--edit img{
    width: .8em;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(22deg) brightness(107%) contrast(101%);
}
.pass-btn--edit:hover{
    background-color: #8b5f23;
}
.pass-btn--edit:active{
    transform: scale(0.9);
}
.pass-btn--cancel{
    width: 1.5em;
    height:1.5em;
    border: none;
    border-radius: .5em;
    background-color: #cb0000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .7em;
}
.pass-btn--cancel img{
    width: .7em;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(22deg) brightness(107%) contrast(101%); 
}
.pass-btn--cancel:hover{
    background-color: #860000;
}

.pass-btn--confirm{
    width: 1.5em;
    height:1.5em;
    border: none;
    border-radius: .5em;
    background-color: #3ed850;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .7em;
}
.pass-btn--confirm img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(22deg) brightness(107%) contrast(101%); 
}
.pass-btn--confirm:hover{
    background-color: #2b9337;
}
.pass-btn--confirm:active{
    transform: scale(0.9);
}

.eliminate-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
}
.eliminate-alert{
    width: 40em;
    height: 20em;
    z-index: 30;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}
.eliminate-alert h2{
    font-size: 1.8em;
}

.eliminate-confirm{
    background-color: red;
    color: white;
    border-style: none;
    border-radius: .3em;
    height: 2em;
    width: 5em;
    margin: 1em 0 1em 0;
}
.eliminate-confirm:hover{
    background-color: rgb(129, 0, 0);
}
.eliminate-confirm:active{
    transform: scale(0.9);
}
.eliminate-cancel{
    border-style: none;
    height: 2em;
    width: 5em;
    border-radius: .3em;
}
.eliminate-cancel:hover{
    background-color: rgb(185, 185, 185);
}
.eliminate-cancel:active{
    transform: scale(0.9);
}
.eliminate-background{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(50, 50, 50);
    filter: opacity(70%);
    z-index: 20;
}