.dashboard{
    width: 18em;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
    padding: 1em;
    font-family: 'SF Pro Display - Thin';
}

.dashboard-states{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.dashboard-links{
    display: flex;
    flex-direction: column;
}

.dashboard-links--child{
    margin-top: .5em;
}

.dashboard-title{
    color: var(--neutralGrey);
    margin: 0 0 .5em 0;
    font-family: 'SF Pro Display - Regular';
    font-weight: 400;
    font-size: 1.4em;
}

.dashboard-links-title{
    margin-bottom: 0;
}

#main-title{
    font-size: 2em;
}

.dashboard-subtitle{
    color: var(--smokeGrey);
    margin: 0;
}

.state-check{
    display: grid;
    grid-template-columns: 5em 2em;
    margin-bottom: .5em;
}
.state-check input{
    height: 1em;
}

.dashboard-date{
    margin: 0 0 1em 0;
}

.dashboard-button{
    margin: 0;
}

.dashboard-order{
    position: relative;
}
.dashboard-order-select{
    display: flex;
    border-radius: .6em;
    border: 1px solid var(--neutralGrey);
    padding: .3em;
    color: var(--smokeGrey);
    width: 7em;
    align-items: center;
    margin-bottom: 1em;
}
.dashboard-order-select:hover{
    cursor: pointer;
}
.dashboard-order-select img{
    height: .8em;
    margin-left: .5em;
    filter: invert(68%) sepia(0%) saturate(0%) hue-rotate(155deg) brightness(94%) contrast(90%);
}
.dashboard-order--options{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 7.7em;
    color: var(--smokeGrey);
    top: 4.1em;
    border-radius: .5em;
}
.dashboard-order--options span{
    background-color: white;
    padding: .3em;
    border: 1px solid var(--neutralGrey);
    border-radius: .6em;
}
.dashboard-order--options:first{
    background-color: red;
}
.dashboard-order--options span:hover{
    background-color: var(--backGrey);
    cursor: pointer;
}
.options-child:first-child{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.options-child:last-child{
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* RESPONSIVE */
@media only screen and (max-width:1360px){
    .dashboard{
        width: 14em;
    }
}