header{
    position: fixed;
    height: 7vh;
    width: 100vw;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    background-color: white;
    color: black;
    border: solid var(--neutralGrey);
    border-width: .5px;
    text-decoration: none;
    z-index: 100;
}

.search-bar{
    display: flex;
    border: solid var(--neutralGrey);
    border-width: .5px;
    border-radius: .5em;
    text-decoration: none;
    padding: .2em;
    width: 20em;
}
.search-bar--focus{
    border: solid black 2px;
}
.search-input{
    border-style: none;
    width: 100%;
}
.search-input:focus{
    outline: none;
}
.search-submit:active{
    transform: scale(.9);
}
.search-options{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 20.5em;
    background-color: white;
    max-height: 1em;
}
.options-grid{
    display: grid;
    grid-template-columns: auto max-content;
}
.options-grid-typeCell{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
.search-options--child{
    border-bottom: .5px solid var(--neutralGrey);
    padding: .3em;
    background-color: white;
}
.search-options--child:hover{
    cursor: pointer;
    background-color: var(--lightGrey);
}
.search-options--message{
    margin-left: 11em;
    color: var(--smokeGrey);
}

@media only screen and (max-width:530px){
    header{
        height:10vh;
    }
}