body{
    /*solucion si no llena 100% width en mobile:*/
    overflow-x: hidden !important;
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--backGrey);
    /*background-color: greenyellow;*/
}

.base{
    height: 100%;
    width: 100%;
    margin-top: 7vh;
    flex-direction: column;
    justify-items: stretch;
    background-color: var(--backGrey);
    /*background-color: orange;*/
}
.base-dashboard{
    width: 100%;
    height: 100%;
    margin-top: 7vh;
    display: flex;
    justify-items: stretch;
    
    background-color: var(--backGrey);
    /*background-color: lightblue;*/
}
.base-sign{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    justify-items: flex-end;
}

main{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2em;
}

a{
    text-decoration: none;
    color: black;
}
.navigate:hover{
    text-decoration: underline;
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}
h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}

.title-bottom{
    margin-bottom: 1em;
}

.img-min{
    width: 1.2em;
}

.img-max{
    width: 10em;
}

:root{
/*WEB*/
    --mainBlue: #255887;
    --darkBlue: #253E5C;
    --neutralGrey: #e0e0e0;
    --lightGrey: #f8f8f8;
    --smokeGrey: #9f9f9f;
    --backGrey : #f2f2f2;

/*States*/
    --greenComplete: #56F0B2;
    --violetIncomplete:#7D1679;
    --redOverdue: #E83B81;
}
@media(max-width:992px){
    .base-sign{
        grid-template-columns: 50% 50%;
    }
}
@media(max-width:768px){
    .main{
        width: fit-content;
        padding: 0;
    }
    .base{
        margin-top: 11vh;
        padding: 0;
    }
    .base-dashboard{
        margin-top: 10vh;
        width: 100vw;
        justify-content: center;
    }
    .base-sign{
        grid-template-columns: 50% 50%;
    }
}
@media(max-width:576px){
    .base-sign{
        display: flex;
        flex-direction: column;
    }
    
}